html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


:root {
    --font-style: Roboto, sans-serif; 
    --dark-color-1: #212529; 
    --dark-color-2: #343a40;
    --light-color-1: #f8f9fa; 
    --light-color-2: #eae0d5; 
    --header-size: 24px; 
    --main-header-size: 32px; 
    --paragraph-size: 16px; 
}

body {
    display: flex;
    flex-direction: row;
    font-family: var(--font-style);
    background-color: var(--light-color-1);
    margin: 0;
    padding: 0;
}

#navbar > header {
    font-size: var(--header-size);
    padding: 10px 35px;
    font-weight: bold;
    border-bottom: 2px solid var(--dark-color-2);
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: var(--dark-color-1); 
    text-decoration: none;
    font-size: var(--paragraph-size);
    padding: 13px 35px;
}

.nav-link:not(:last-of-type) {
    border-bottom: 2px solid var(--dark-color-2);
}


#main-doc {
    margin: 10px 50px 0 360px;
    line-height: 28px;
    color: var(--dark-color-2);
}

header {
    margin-top: 30px;
    font-size: var(--header-size);
    font-weight: bold;
    color: var(--dark-color-1);
}

code {
    background-color: var(--light-color-2);
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.attribution {
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    #navbar {
        display: none;
    }

    #main-doc {
      margin: 10px 15px
    }
}